<config>
    <modules>
        <Ccc_Demo>
            <version>1.0.0.0</version>                
        </Ccc_Demo>
    </modules>
    <frontend>
        <routers>
            <demo>
                <use>standard</use>
                <args>
                    <module>Ccc_Demo</module>
                    <frontName>Eav Attribute</frontName>
                </args>
            </demo>
        </routers>
        <layout>
            <updates>
                <demo>
                    <file>demo.xml</file>
                </demo>
            </updates>
        </layout>
    </frontend>
    <global>
        <resources>
            <demo_setup>
                <setup>
                    <module>Ccc_Demo</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </demo_setup>
            <demo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </demo_write>
            <demo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </demo_read>
        </resources>
        <resources>
            <demo_setup>
                <setup>
                    <module>Ccc_Demo</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </demo_setup>
            <demo_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </demo_write>
            <demo_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </demo_read>
        </resources>
        <models>
            <demo>
                <class>Ccc_Demo_Model</class>
                <resourceModel>demo_resource</resourceModel>
            </demo>
            <demo_resource>
                <class>Ccc_Demo_Model_Resource</class>
                <!-- <deprecatedNode>demo_mysql4</deprecatedNode> -->
                <entities>
                    <demo>
                        <table>Demo</table>
                    </demo>
                    <demo_address>
                        <table>demo_address</table>
                    </demo_address>  
                </entities>
            </demo_resource>
        </models>
        <blocks>
            <demo>
                <class>Ccc_Demo_Block</class>
            </demo>
        </blocks>
        <helpers>
            <demo>
                <class>Ccc_Demo_Helper</class>
            </demo>
        </helpers>
        
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <ccc_demo before="Mage_Adminhtml">Ccc_Demo_Adminhtml</ccc_demo>
                    </modules>
                </args>
            </adminhtml>
        </routers>
  </admin>
  
</config>
