<?xml version="1.0"?>
<config>
    <modules>
        <Dax_Idx>
            <version>0.1.0</version>
        </Dax_Idx>
    </modules>
    <global>
        <models>
            <idx>
                <class>Dax_Idx_Model</class>
                <resourceModel>idx_resource</resourceModel>
            </idx>
            <idx_resource>
                <class>Dax_Idx_Model_Resource</class>
                <entities>
                    <idx>
                        <table>import_product_idx</table>
                    </idx>
                </entities>
            </idx_resource>
        </models>
        <resources>
            <idx_setup>
                <setup>
                    <module>Dax_Idx</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </idx_setup>
            <idx_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </idx_write>
            <idx_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </idx_read>
        </resources>
        <blocks>
            <idx>
                <class>Dax_Idx_Block</class>
            </idx>
        </blocks>
        <helpers>
            <idx>
                <class>Dax_Idx_Helper</class>
            </idx>
        </helpers>
    </global>
    <admin>
        <routers>
            <idx>
                <use>admin</use>
                <args>
                    <module>Dax_Idx</module>
                    <frontName>idx</frontName>
                </args>
            </idx>
        </routers>
    </admin>
</config>