<?xml version="1.0" ?>
<config>
    <modules>
        <Dax_Brand>    
            <version>1.0.2</version>
        </Dax_Brand>
    </modules>
    <frontend>        
        <layout>
            <updates>
                <Brand module="Dax_Brand">
                    <file>Dax_Brand.xml</file>
                </Brand>
            </updates>
        </layout>
    </frontend>
    <global>
        <resources>
            <brand_setup>
                <setup>
                    <module>Dax_Brand</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </brand_setup>
            <brand_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </brand_write>
            <brand_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </brand_read>
        </resources>

        <models>
            <brand>
                <class>Dax_Brand_Model</class>
                <resourceModel>brand_resource</resourceModel>
            </brand>
            <brand_resource>
                <class>Dax_Brand_Model_Resource</class>
                <deprecatedNode>brand_mysql4</deprecatedNode>
                <entities>
                    <brand>
                        <table>brand</table>
                    </brand>
                </entities>
            </brand_resource>
        </models>
        <blocks>
            <brand>
                <class>Dax_Brand_Block</class>
            </brand>
        </blocks>
        <helpers>
           <brand>
                  <class>Dax_brand_Helper</class>
            </brand>
        </helpers>
    </global>
    <admin>
        <!-- <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Dax_brand>Dax_brand_Adminhtml</Dax_brand>
                    </modules>
                </args>
            </adminhtml>
        </routers> -->
        <routers>
            <Brand>
                <use>admin</use>
                <args>
                    <module>Dax_Brand</module>
                    <frontName>brand</frontName>
                </args>
            </Brand>
        </routers>
         <layout>
            <updates>
                <brand>
                    <file>brand.xml</file>
                </brand>
            </updates>
        </layout>
    </admin>
</config>