<?xml version="1.0" ?>
<config>
    <modules>
        <Dax_Dax>    
            <version>1.2.0</version>
        </Dax_Dax>
    </modules>
    <frontend>        
        <layout>
            <updates>
                <Dax module="Dax_Dax">
                    <file>Dax_Dax.xml</file>
                </Dax>
            </updates>
        </layout>
    </frontend>
    <global>
        <resources>
            <dax_setup>
                <setup>
                    <module>Dax_Dax</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dax_setup>
            <dax_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dax_write>
            <dax_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dax_read>
        </resources>
        <models>
            <dax>
                <class>Dax_Dax_Model</class>
                <resourceModel>dax_resource</resourceModel>
            </dax>
            <dax_resource>
                <class>Dax_Dax_Model_Resource</class>
                <deprecatedNode>dax_mysql4</deprecatedNode>
                <entities>
                    <dax>
                        <table>dax</table>
                    </dax>
                </entities>
            </dax_resource>
        </models>
        <blocks>
            <dax>
                <class>Dax_Dax_Block</class>
            </dax>
        </blocks>
        <helpers>
           <dax>
                  <class>Dax_Dax_Helper</class>
            </dax>
        </helpers>
    </global>
    <admin>
        <routers>
            <Dax>
                <use>admin</use>
                <args>
                    <module>Dax_Dax</module>
                    <frontName>dax</frontName>
                </args>
            </Dax>
        </routers>
         <layout>
            <updates>
                <dax>
                    <file>dax.xml</file>
                </dax>
            </updates>
        </layout>
    </admin>
</config>