<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Dax_Dax>
			<version>0.0.3</version>
		</Dax_Dax>
	</modules>
	<global>
		<blocks>
			<dax>
				<class>Dax_Dax_Block</class>
			</dax>
		</blocks>
		<helpers>
			<dax>
				<class>Dax_Dax_Helper</class>
			</dax>
		</helpers>
		<models>
			<dax>
				<class>Dax_Dax_Model</class>
				<resourceModel>dax_resource</resourceModel>
			</dax>
			<dax_resource>
				<class>Dax_Dax_Model_Resource</class>
				<entities>
	                <dax>
	                    <table>dax</table>
	                </dax>
	                <dax_datetime>
	                	<table>dax_datetime</table>
		            </dax_datetime>
		            <dax_decimal>
		                <table>dax_decimal</table>
		            </dax_decimal>
		            <dax_int>
		                <table>dax_int</table>
		            </dax_int>
		            <dax_text>
		                <table>dax_text</table>
		            </dax_text>
		            <dax_varchar>
		                <table>dax_varchar</table>
		            </dax_varchar>
		            <dax_char>
		                <table>dax_char</table>
		            </dax_char>
		            <eav_attribute>
                        <table>dax_eav_attribute</table>
                    </eav_attribute>
		        </entities>
			</dax_resource>
		</models>
		<resources>
			<dax_setup>
				<setup>
					<module>Dax_Dax</module>
					<class>Dax_Dax_Model_Resource_Setup</class>
				</setup>
			</dax_setup>
		</resources>
	</global>
	<adminhtml>
		<menu>
			<dax>
				<title>Dax</title>
				<sort_order>120</sort_order>
				<children>
					<dax>
						<title>Manage Dax</title>
						<sort_order>100</sort_order>
						<action>dax/Adminhtml_Dax</action>
					</dax>
					<dax_attribute>
						<title>Manage Attribute</title>
						<sort_order>100</sort_order>
						<action>dax/Adminhtml_Dax_Attribute</action>
					</dax_attribute>
					<dax_set>
						<title>Manage Attribute set</title>
						<sort_order>100</sort_order>
						<action>dax/Adminhtml_Dax_Set</action>
					</dax_set>
				</children>
			</dax>
		</menu>
		<layout>
			<updates>
				<dax>
					<file>dax.xml</file>
				</dax>
			</updates>
		</layout>
	</adminhtml>
	<admin>
		<routers>
			<dax>
				<use>admin</use>
				<args>
					<module>Dax_Dax</module>
					<frontName>dax</frontName>
				</args>
			</dax>
		</routers>
	</admin>
</config>