<config>
    <modules>
        <Dax_dax>    
            <version>1.0.1</version>
        </Dax_dax>
    </modules>
    <global>
        <models>
            <dax>
                <class>Dax_Dax_Model</class>
                <resourceModel>dax_resource</resourceModel>
            </dax>
            <dax_resource>
                <class>Dax_Dax_Model_Resource</class>
                <deprecatedNode>dax_mysql4</deprecatedNode>
                <entities>
                    <dax>
                        <table>dax</table>
                    </dax>
                </entities>
            </dax_resource>
        </models>
        <resources>
            <dax_setup>
                <setup>
                    <module>Dax_Dax</module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </dax_setup>
            <dax_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </dax_write>
            <dax_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </dax_read>
        </resources>
        <blocks>
            <dax>
                <class>HarshP_harsh_Block</class>
            </dax>
        </blocks>
        <helpers>
           <dax>
                  <class>Dax_dax_Helper</class>
            </dax>
        </helpers>
    </global>
    <admin>
        <routers>
            <Dax>
                <use>admin</use>
                <args>
                    <module>Dax_Dax</module>
                    <frontName>dax</frontName>
                </args>
            </Dax>
        </routers>
    </admin>
</config>